{% extends "base.html" %}

{% block title %}BrewLocker - Login{% endblock %}

{% block content %}

<div class="row column large-3 medium-6 small-12 text-center">
  <div class="row column">
    {% if current_user.is_authenticated %}  
    <h5>Hey, {{ current_user.username }}, want to <a href="{{ url_for('auth.logout') }}">logout?</a></h5>
    {% else %}
    <h5>Hi Stranger, It's been a while</h5>
    <hr>
  </div>
  <div class="row small-6 column medium-6 large-6 small-push-3">
    <a class="small button fi-social-facebook row column" href="{{ url_for('auth.oauth_authorize', provider='facebook') }}"> Login with Facebook</a>
    <a class="small button fi-social-github warning row column" href="{{ url_for('auth.oauth_authorize', provider='github') }}"> Login with GitHub</a>
    <a class="small button fi-social-google-plus alert row column" href="{{ url_for('auth.oauth_authorize', provider='google') }}"> Login with Google</a>
  </div>
</div>
{% endif %}


{% endblock %}
