{% extends "base.html" %}

{% block content %}


{% for message in get_flashed_messages() %}
    <p><b>Error</b>: {{ message }}</p>
{% endfor %}
{% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.nickname }}!</h2>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
{% else %}
    <h2>I don't know you!</h2>
    <p><a href="{{ url_for('auth.oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
<!--     <p><a href="{{ url_for('auth.oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
    <p><a href="{{ url_for('auth.oauth_authorize', provider='google') }}">Login with Google</a></p> -->
{% endif %}

<!-- <div class="row">
  <div id="signInButton" class="column">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="312958319092-t72jvbratej6v1aac1cr4efg6sboj753.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div class="column">
    <div id="signInButtonFb" class="column">
      <fb:login-button 
        scope="public_profile,email"
        onlogin="sendTokenToServer();">
      </fb:login-button>
    </div>
  </div>
</div>
<div id="result" class="column"></div> -->

<!-- Google sign in -->
<script>
//   function signInCallback(authResult) {
//     if (authResult['code']) {
//       // Hide the sign-in button now that the user is authorized
//       $('#signinButton').attr('style', 'display: none');
//       // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main  page
//       $.ajax({
//         type: 'POST',
//         url: '/gconnect?state={{ state }}',
//         processData: false,
//         data: authResult['code'],
//         contentType: 'application/octet-stream; charset=utf-8',
//         success: function(result) {
//           // Handle or verify the server response if necessary.
//           if (result) {
//             $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
//            setTimeout(function() {
//             window.location.href = "/";
//            }, 4000);
            
//         } else if (authResult['error']) {
//       console.log('There was an error: ' + authResult['error']);
//     } else {
//           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
//            }
//         }
        
//     }); } }
// </script>

<!-- Facebook sign in -->
<script>

//   window.fbAsyncInit = function() {
//     FB.init({
//       appId      : '111262736058256',
//       cookie     : true,
//       xfbml      : true,
//       version    : 'v2.8'
//     });
//     FB.AppEvents.logPageView();   
//   };

//   (function(d, s, id){
//      var js, fjs = d.getElementsByTagName(s)[0];
//      if (d.getElementById(id)) {return;}
//      js = d.createElement(s); js.id = id;
//      js.src = "//connect.facebook.net/en_US/sdk.js";
//      fjs.parentNode.insertBefore(js, fjs);
//    }(document, 'script', 'facebook-jssdk'));

//   function sendTokenToServer() {
//       var access_token = FB.getAuthResponse()['accessToken'];
//       console.log(access_token)
//       console.log('Welcome!  Fetching your information.... ');
//       FB.api('/me', function(response) {
//         console.log('Successful login for: ' + response.name);
//        $.ajax({
//         type: 'POST',
//         url: '/fbconnect?state={{ state }}',
//         processData: false,
//         data: access_token,
//         contentType: 'application/octet-stream; charset=utf-8',
//         success: function(result) {
//           // Handle or verify the server response if necessary.
//           if (result) {
//             $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
//            setTimeout(function() {
//             window.location.href = "/";
//            }, 4000);
            
//         } else {
//           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
//            }
//         }
        
//     });
//       });
//     }

// </script>


{% endblock %}
