{% if item.images.count() > 1 %}
<div class="orbit" role="region" aria-label="Catalog images" data-orbit data-options="autoPlay:false; timerDelay:1000; bullets:false">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      {% for image in item.images %}
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <a href="{{ url_for('main.getItem', item_id = item.id)}}">
            {% if request.url_rule.endpoint == "main.getItem" %}
            <picture class="orbit-image">
              <source
                srcset="{{image.getResponsive("600")}} 1x,
                        {{image.getResponsive("1200")}} 2x">
              <img
                src="{{image.getResponsive("600")}}"
                alt="Product image">
            </picture>
            {% else %}
            <picture class="orbit-image">
              <source
                media="(max-width: 1023px)"
                srcset="{{image.getResponsive("600")}} 1x,
                        {{image.getResponsive("1200")}} 2x">
              <source
                media="(min-width: 1024px)"
                srcset="{{image.getResponsive("300")}} 1x,
                        {{image.getResponsive("600")}} 2x">
              <img
                src="{{image.getResponsive("600")}}"
                alt="Product image">
            </picture>
            {% endif %}
          </a>
        </figure>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% elif item.images.count() == 1 %}
<div>
  <a href="{{ url_for('main.getItem', item_id = item.id)}}">
    <picture class="orbit-image">             
      <source
        media="(max-width: 1023px)"
        srcset="{{item.images.first().getResponsive("600")}} 1x,
                {{item.images.first().getResponsive("1200")}} 2x">
      <source
        media="(min-width: 1024px)"
        srcset="{{item.images.first().getResponsive("300")}} 1x,
                {{item.images.first().getResponsive("600")}} 2x">
      <img
        src="{{item.images.first().getResponsive("600")}}"
        alt="Product image">
    </picture>
  </a>
</div>
{% else %}
<div>
  <a href="{{ url_for('main.getItem', item_id = item.id)}}">
    <img src="https://68.media.tumblr.com/d0a38f80109907933e528fc3e108bda3/tumblr_nv1a8d0a8D1uvq3s5o1_1280.png" alt="No image">
  </a>
</div>
{% endif %}
