<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="autoPlay:false; timerDelay:1000; bullets:false">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      {% for image in item.images %}
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <a href="{{ url_for('main.getItem', item_id = item.id)}}"><img class="orbit-image" src="{{image.url}}" alt="Product image"></a>
        </figure>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>