{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="pagination-previous" >
        <a {% if not pagination.has_prev %} class="disabled" {% endif %} href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">Previous</a>
        <span class="show-for-sr">page</span>   
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="current">
                <span class="show-for-sr">You're on page</span>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>  
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}" aria-label="Page {{ p }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="ellipsis" aria-hidden="true"></li>
        {% endif %}
    {% endfor %}
    <li class="pagination-next" >
        <a {% if not pagination.has_next %} class="disabled" {% endif %} href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">Next</a>
        <span class="show-for-sr">page</span>   
    </li>
</ul>
{% endmacro %}