{% extends "base.html" %}
{% block title %}BrewLocker - Edit Item{% endblock %}

{% block content %}
<main class="row column">
  <div class="row">
  <form class="column" method="POST" action="{{ url_for('.editItem', item_id=item.id) }}" enctype="multipart/form-data">
  {% include '_item_form.html' %}
  </form>
  </div>
  <div>
    <div class="row small-up-1 medium-up-2 large-up-3">
      {% for image in item.images %}
      <div class="column column-block">
        <div class="callout small" data-closable>
          <picture class="orbit-image">             
            <source
              media="(max-width: 1023px)"
              srcset="{{item.images.first().getResponsive("600")}} 1x,
                     {{item.images.first().getResponsive("1200")}} 2x">
            <source
              media="(min-width: 1024px)"
              srcset="{{item.images.first().getResponsive("300")}} 1x,
                     {{item.images.first().getResponsive("600")}} 2x">
            <img
              src="{{item.images.first().getResponsive("600")}}"
              alt="Product image">
          </picture>
          <form method="POST" action="{{ url_for('.deleteImage', item_id = item.id, image_id=image.id) }}">
            <button type="submit" value="delete" class="close-button" aria-label="Delete image" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
