{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}BrewLocker{% endblock %}

{% block menu %}
{{ super() }}
{% if current_user.can(Permission.ADD_ITEMS) %}
<a class="small button" href='{{ url_for('main.newItem') }}'>New item</a>
{% endif %}
{% endblock %}

{% block content %}
<main>
  {% if not items %}
  <div class="row column text-center">You don't have any items yet</div>
  {% endif %}
<!--   <div class="row column">
    <hr>
  </div> -->
  {% include '_items.html' %}
</main>
{% if pagination %}
<div class="pagination text-center row column">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}


{% endblock %}