{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}BrewLocker{% endblock %}

{% block menu %}
{{ super() }}
{% if current_user.can(Permission.ADD_ITEMS) %}
<a class="button" href='{{ url_for('main.newItem') }}'>New item</a>
{% endif %}
{% endblock %}

{% block content %}
<main>
  <div class="row text-right">
    <div class="column medium-offset-6 large-offset-8 medium-6 large-4">
      <div class="row">
        <div class="column">
        {% if not items %}
          <p>You don't have any items yet</p>
        {% endif %}
        </div>
        
      </div>
    </div>
  </div>
  <div class="row column">
    <hr>
  </div>
  {% include '_items.html' %}
</main>
{% if pagination %}
<div class="pagination text-center row column">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}


{% endblock %}