{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}BrewLocker{% endblock %}

{% block page_content %}
<main>
  <div class="row text-right">
    <div class="column medium-offset-6 large-offset-8 medium-6 large-4">
      <div class="row">
        </div>
        <div class="column">
        {% if not items %}
          <p>You don't have any items yet</p>
        {% endif %}
        </div>
        {% if current_user.id %}
        <div class="column">
          <a class="label" href='{{ url_for('main.newItem') }}'>Add new item</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include '_items.html' %}
</main>
{% if pagination %}
<div class="pagination text-center row column">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}


{% endblock %}